.card-border{
	border:solid 10px white;
	border-radius: 20px;
	overflow: hidden;
	transition: all ease-out 0.2s;


}
.card-border:hover{

transform:scale(1.05);
}

.carousel-inner{

	max-height: 50rem !important;
}

@media only screen and (max-width:768px){
	#div{
		width: 90% !important;
	}
	
	
}

